{% extends 'base.html' %}
{% load static %}

{% block title %}欠席連絡 | Private Diary{% endblock %}

{% block active_team_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/absent_table.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}

    <div class="my-div-style">
        <a href="{% url 'absent:absent' month_previous.year month_previous.month %}">前月</a>
        {{ month_current | date:"Y年m月" }}
        <a href="{% url 'absent:absent' month_next.year month_next.month %}">次月</a>

        <div class="container">
            <div class="row">
                <div class="my-div-style w-100">
                    <div class="mx-auto abs_table">
                        <table>
                            <tr>
                                <th>date</th>
                                <th>内容</th>
                                <th>場所</th>
                                <th>開始</th>
                                <th>終了</th>
                            </tr>
                            {% for week_day_schedles in month_day_schedules %}
                                {% for day, schedules in week_day_schedles.items %}
                                    {% for schedule in schedules %}
                                        {% if myteam == schedule.team %}                
                                            <tr>
                                                <td>{{ schedule.date }}</td>
                                                <td>{{ schedule.summary }}</td>
                                                <td>{{ schedule.place }}</td>
                                                <td>{{ schedule.start_time }}</td>
                                                <td>{{ schedule.end_time }}</td>
                                                {% if user.is_team_admin %}
                                                    <td class="nowrap noborder"><a href="{% url 'absent:review_check' day.year day.month day.day schedule.id %}" class="btn btn-primary">振り返り確認</a></td>
                                                {% else %}
                                                    <td class="nowrap noborder"><a href="{% url 'absent:prereview_register' day.year day.month day.day schedule.id %}" class="btn btn-primary">目標設定</a></td>
                                                    <td class="nowrap noborder"><a href="{% url 'absent:review_register' day.year day.month day.day schedule.id %}" class="btn btn-secondary">振り返り</a></td>
                                                {% endif %} 
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% if user.is_team_admin %}
    <a href="{% url 'absent:review_check' day.year day.month day.day schedule.id %}">振り返り確認</a>
{% else %}
    <a href="{% url 'absent:prereview_register' day.year day.month day.day schedule.id %}">目標設定</a>
    <a href="{% url 'absent:review_register' day.year day.month day.day schedule.id %}">振り返り</a>
{% endif %}