{% extends 'base.html' %}
{% load static %}

{% block title %}チーム一覧 | Private Diary{% endblock %}

{% block active_team_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/absent_table.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="mx-auto abs_table">
                 {% for team in Team %}
                    <div class="post-preview"> 
                      <h2 class="post-title">
                        {{ team.name }}
                      </h2>
                    </div>
                {% empty %}
                    <p>登録チームがありません。</p>
                {% endfor %}

                <div>
                    <p>
                        {{ schedule.date }}
                        {{ schedule.summary }}
                    </p>
                    <p>
                        @{{ schedule.place }}
                        {{ schedule.start_time }}
                        〜
                        {{ schedule.end_time }}
                    </p>
                </div>

                <table>
                    <tr>
                        <th>ユーザー</th>
                        <th>目標</th>
                        <th>振り返り</th>
                    </tr>
                    {% for review_set in review_sets %}
                        {% if review_set.0 != user %}
                            <tr>
                                <td>{{ review_set.0 }}</td>
                                <td>{{ review_set.1.0.goal }}</td>
                                <td>{{ review_set.2.0.review }}</td>
                            </tr>
                        {% endif %}
                    {% empty %}
                        <p>チームメンバーがいません</p>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



                