{% extends 'base.html' %}
{% load static %}

{% block title %}チーム一覧 | Private Diary{% endblock %}

{% block active_team_list %}active{% endblock %}

{# {% block head %}
<link href="{% static 'css/blog_styles.css' %}" rel="stylesheet">
{% endblock %} #}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                 {% for team in Team %}
                    <div class="post-preview"> 
                      <h2 class="post-title">
                        {{ team.name }}
                      </h2>
                    </div>
                    <hr>
                {% empty %}
                    <p>登録チームがありません。</p>
                {% endfor %}
            </div>

            <div>
                <p>
                    {{ schedule.date }}
                    {{ schedule.summary }}
                    {{ schedule.place }}
                    {{ schedule.start_time }}
                    〜
                    {{ schedule.end_time }}
                </p>
            </div>

            <div class="col-lg-8 col-md-10 mx-auto">
                {% for review_set in review_sets %}
                    {% if review_set.0 != user %}
                        <div class="post-preview">
                          <p class="post-title">
                            {{ review_set.0 }}
                          </p>
                          <p class="post-title">
                            目標 : 
                            {{ review_set.1.0.goal }}
                          </p>
                          <p class="post-title">
                            振り返り : 
                            {{ review_set.2.0.review }}
                          </p>
                        </div>
                        <hr>
                    {% endif %}
                {% empty %}
                    <p></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}